@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  height: 100px;
  padding: 22px 100px;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 10;
}

.nav {
  display: inline-block;
  vertical-align: middle;
  margin-left: 195px;
}

.list-item {
  display: inline-block;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #696969;
}

.logo {
  vertical-align: middle;
}

.booknow {
  padding: 13px 50px;
  background-color: #ff5403;
  margin-left: 160px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 64px;
  z-index: 1;
}

/* Banner */

.banner_container {
  width: 100%;
  height: 722px;
  background-image: url(..//images/banner_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;

}

.banner_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  color: #fff;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  line-height: 115px;
}

.description {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin: 5px 0px 79px 0px;
}

.discovernow {
  background-color: #ff5403;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  padding: 22px 50px;
}

/* Top Places to visit */
.topplace {
  width: 1312px;
  height: 1182px;
  margin: 100px auto 100px auto;
}

.topplace-title {
  color: #041562;
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  text-align: center;
}

.topplace-disc {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #626262;
  text-align: center;
  margin-top: 20px;
}

.one {
  width: 631px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 75px;
  position: relative;
}

.one p {
  margin-top: 30px;
}

.one h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;

}


.two {
  width: 631px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 75px;
  margin-left: 45px;
  position: relative;
}

.two h2 {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 300px;
  background-color: purple;
  font-size: 36px;
  padding: 5px 20px;
  transform: translate(-50%);
  text-align: center;
  border-radius: 0px 0px 16px 16px;
}

.three {
  width: 631px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 50px;
  position: relative;
}

.three h2 {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  background-color: rgb(29, 6, 241);
  color: #fff;
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 15px;
  text-align: center;
}

.four {
  width: 631px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 50px;
  margin-left: 45px;
  position: relative;
}

.four h2 {
  position: absolute;
  bottom: 1%;
  right: 0%;
  width: 110px;
  background-color: rgb(29, 6, 241);
  color: #fff;
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
}

.discovermore {
  padding: 22px 62px;
  background-color: #ff5403;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  /* margin: 75px auto 0px auto; ar mushaobs auto da arc text-align-centr*/
  margin-top: 75px;
  margin-left: 532px;
}




footer {
  width: 100%;
  height: 454px;
  background-color: #19224d;
  padding: 108px 100px 80px 100px;

}

.footer-content {
  width: 1312px;
  height: 266px;
  margin: 0px auto 0px auto;
}

.copyright {
  width: 100%;
  height: 65px;
  background-color: #000b3e;
}

.copy-descr {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 23px 630px;
}

.ftcard-one {
  width: 337px;
  display: inline-block;
  vertical-align: top;
}

.ftcard-two {
  width: 314px;
  display: inline-block;
  margin: 0px 154px;
  vertical-align: top;
}

.ftcard-three {
  width: 344px;
  display: inline-block;
  vertical-align: top;
}

.ft_title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 30px;
}

.ft-list-item {
  margin-top: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.info {
  margin-top: 10px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.contact_title {
  margin-bottom: 30px;
}

.socmedia {
  color: #ff5403;
  font-size: 18px;
  font-weight: 600;
  margin-top: 23px;
  margin-bottom: 8px;
}

.fb {
  margin: 0px 15px;
}